@import url('https://rsms.me/inter/inter.css');
html { 
	font-family: 'Inter', 'Open Sans', sans-serif; 
  }
@supports (font-variation-settings: normal) {
  html { 
  	font-family: 'Inter', 'Open Sans', sans-serif; 
  }
}


.note p,
.tip p,
.warning p,
.caution p{
	display: inline;
	margin-left: 0.35em;
}

.note::before{
	content: 'Note';
	font-weight: 700;
	color: #5a7fe4;
}

.note::after{
	font-family: 'Fontawesome';
	content: "\f14b";
	color: #5a7fe4;
	position: absolute;
	left: 0.5em;
	top: calc(50% - 0.5em);
	font-size: 2.5em;
}

.note{
	position: relative;
	background-color: #5a7fe433;
	padding: 1.25em 0.5em 1.25em 4.5em;
	border-radius: 5px;
}

.tip::before{
	content: 'Tip';
	font-weight: 700;
	color: #40c463;
}

.tip::after{
	font-family: 'Fontawesome';
	content: "\f0eb";
	color: #40c463;
	position: absolute;
	left: 0.6em;
	top: calc(50% - 0.5em);
	font-size: 2.3em;
}

.tip{
	position: relative;
	background-color: #40c46355;
	padding: 1.25em 0.5em 1.25em 4.5em;
	border-radius: 5px;
}

.warning::before{
	content: 'Warning';
	font-weight: 700;
	color: #db7d13;
}

.warning::after{
	font-family: 'Fontawesome';
	content: "\f071";
	color: #db7d13;
	position: absolute;
	left: 0.55em;
	top: calc(50% - 0.5em);
	font-size: 1.9em;
}

.warning{
	position: relative;
	background-color: rgba(255, 190, 0, 0.32);
	padding: 1.25em 0.5em 1.25em 4.5em;
	border-radius: 5px;
}

.caution::before{
	content: 'Caution';
	font-weight: 700;
	color: #ff4e4e;
}

.caution::after{
	content: "☠";
	color: #ff4e4e;
	position: absolute;
	left: 0.35em;
	top: calc(50% - 0.65em);
	font-size: 3em;
}

.caution{
	position: relative;
	background-color: #f75b4b55;
	padding: 1.25em 0.5em 1.25em 4.5em;
	border-radius: 5px;
}
/*

.tip::before{
	content: "tip";
	font-weight: 700;
	color: #1d913c;
}

.tip{
	border-left: #40c463 5px solid;
	background-color: #40c46355;
	padding: 1.1em 0.5em 0.1em 0.9em;
	border-radius: 0 5px 5px 0;
}

.warning::before{
	content: "warning";
	font-weight: 700;
	color: #db7d13;
}

.warning{
	border-left: #ffbe00 5px solid;
	background-color: rgba(255, 190, 0, 0.32);
	padding: 1.1em 0.5em 0.1em 0.9em;
	border-radius: 0 5px 5px 0;
}

.caution::before{
	content: "caution";
	font-weight: 700;
	color: #db1313;
}

.caution{
	border-left: #f75b4b 5px solid;
	background-color: #f75b4b55;
	padding: 1.1em 0.5em 0.1em 0.9em;
	border-radius: 0 5px 5px 0;
}*/